.InfoCard {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  padding-bottom: .8rem;
  margin-bottom: .8rem;
  border-bottom: 2px solid var(--black);
  width: 100%;
}

.InfoCard h3 {
  color: var(--light-white);
  font-size: .8rem;
  margin-bottom: .5rem;
}

.InfoCard p {
  color: var(--light-white);
  font-weight: bold;
}