.sideBar {
  background: linear-gradient(90deg, var(--bold-gradient) 0%, var(--light-gradient) 100%);
  flex: 1 1 0;
  border-radius: 0.3125rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 3rem 0;
}

.sideBar img {
  max-width: 65%;
  border-radius: 5%;
  position: absolute;
  top: -3rem;
}

.title {
  color: var(--white);
  background-color: var(--shadowColorD);
  border-radius: 0.3125rem;
  font-weight: bold;
  letter-spacing: .1rem;
  margin-top: 19rem;
  margin-bottom: 1rem;
  padding: .8rem 1.2rem;
}
