.sideBar {
  background: var(--med-green);
  flex: 1 1 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  padding: 3rem 0;
}

.sideBar img {
  max-width: 65%;
  border-radius: 5%;
  position: absolute;
  top: -3rem;
}

.title {
  color: var(--light-white);
  background-color: var(--light-cyan);
  border-radius: 5px;
  margin-top: 19rem;
  padding: .8rem 1.2rem;
}