.stacksContainer {
  margin-bottom: 1rem;
}

.stacksContainer svg {
  font-size: 10rem;
}

.html {
  color: var(--htmlColor);
}

.css {
  color: var(--cssColor);
}

.javascript {
  color: var(--jsColor);
}

.react {
  color: var(--reactColor);
}

.python {
  color: var(--pythonColor);
}

.git {
  color: var(--gitColor);
}
