.stacksGrid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.stacksCard {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 3px solid var(--black);
  width: 100%;
  border-radius: 5px;
}

.stackInfo h3 {
  color: var(--white);
  margin-bottom: 1rem;
}