:root {
  --black: #000000;
  --white: #ffffff;
  --light-white: #a6a6a6;
  --purple: #a162f7;
  --blue: #6f88fc;
  --cyan: #45e3ff;
  --light-cyan: #a5def1;
  --green: #016170;
  --med-green: #009393;
  --light-green: #00e0c8;
  --light-gradient: #fa5252;
  --bold-gradient: #dd2476;
  --phoneColor: #e93b81;
  --emailColor: #6ab5b9;
  --locationColor: #c17ceb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--white);
  background: var(--green);
}

a,
svg {
  transition: 0.4s;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: var(--cyan);
}

::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 3.125rem;
}
