:root {
  --black: #000000;
  --white: #ffffff;
  --light-white: #F0F0FC;
  --shadowColorA: #fcdf9f;
  --shadowColorB: #bda777;
  --shadowColorC: #7d6e4f;
  --shadowColorD: #3d3627;
  --shadowColorE: #e3c88f;
  --light-gradient: #dbc64d;
  --bold-gradient: #5c5320;
  --phoneColor: #328026;
  --emailColor: #ff0000;
  --locationColor: #4651cc;
  --htmlColor: #e44d26;
  --cssColor: #1572b6;
  --jsColor: #f0db4f;
  --reactColor: #61dafb;
  --pythonColor: #4b8bbe;
  --gitColor: #e44d26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  color: var(--white);
  background: var(--shadowColorD);
}

a,
svg {
  transition: 0.4s;
}

::-webkit-scrollbar {
  width: 0.625rem;
}

::-webkit-scrollbar-track {
  background-color: var(--shadowColorC);
}

::-webkit-scrollbar-thumb {
  background-color: var(--shadowColorA);
  border-radius: 3.125rem;
}
